:root {
  --color-primary-blue: #105bd8;
  --color-primary-darkest: #061f4a;
  --color-secondary-red: #dd361c;
  --color-secondary-darkest: #99231B;
  --color-primary-black: #000000;
  --color-primary-white: #ffffff;
  --color-cool-blue: #205493;
  --color-primary-alt: #02BFE7;
  --color-gray-lightest: #f1f1f1;
  --color-gray-dark: #323a45;
  --bg-color: var(--color-gray-lightest);
  --page-title: var(--color-primary-white);
  --card-bg: var(--color-primary-white);
  --card-header: var(--color-primary-blue);
  --card-l-side: var(--color-secondary-red);
  --card-text: var(--color-primary-black);
  --card-stats-items: var(--color-secondary-red); }

html[data-theme='dark'] {
  --bg-color: var(--color-primary-darkest);
  --page-title: var(--color-primary-white);
  --card-bg: var(--color-gray-dark);
  --card-header: var(--color-cool-blue);
  --card-l-side: var(--color-secondary-darkest);
  --card-text: var(--color-primary-white);
  --card-stats-items: var(--color-primary-alt); }

html {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  min-height: 100vh; }

a:link,
a:visited {
  text-decoration: none;
  color: inherit; }

.main-title {
  text-align: center;
  font-size: 4.6rem;
  color: var(--page-title);
  padding: 4rem;
  background-color: #205493;
  margin: 0; }

.map {
  height: 50rem;
  width: 100%;
  margin: 0 auto;
  z-index: 1; }

.dashboard {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 3rem;
  justify-content: center;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 5rem; }

footer {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 5rem;
  color: var(--color-primary-black); }

body.transition,
body.transition *,
body.transition *:before,
body.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important; }

@media screen and (max-width: 800px) {
  .dashboard {
    display: flex;
    flex-direction: column-reverse; }
  .info {
    width: 100%;
    text-align: center; }
  .main-title {
    font-size: 3.6rem;
    padding: 2rem; }
  .card__about {
    width: 80% !important;
    margin-top: 3rem !important;
    margin-left: 7% !important; }
  .card-container {
    display: flex;
    align-content: center;
    align-items: baseline;
    margin: 0 auto; } }

@media screen and (max-width: 500px) {
  .card-container {
    display: block;
    margin-top: 3rem; } }

.dropdown [data-toggle="dropdown"] {
  position: relative;
  display: block;
  color: var(--color-primary-white); }

.dropdown .icon-arrow {
  position: absolute;
  display: block;
  font-size: 0.7em;
  color: var(--color-primary-white);
  top: 14px;
  right: 10px; }
  .dropdown .icon-arrow:before {
    content: '\25BC'; }

.dropdown .dropdown-menu {
  max-height: 0;
  overflow: hidden; }

.dropdown .show {
  display: block;
  max-height: 9999px;
  margin-top: 4rem; }

.dropdown .hide {
  max-height: 0; }

.moveDown {
  margin-left: 1rem; }

.card {
  margin: 0;
  width: 23rem;
  padding: 1rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 1.8rem 0 rgba(0, 0, 0, 0.25);
  background-color: var(--card-bg);
  border-left: 10px solid var(--card-l-side); }
  .card--head {
    font-size: 2rem;
    letter-spacing: 1.5px;
    padding: 1rem 0 1rem 1.5rem;
    margin: -1rem -1rem -3rem -1rem;
    background-color: var(--card-header);
    color: var(--color-primary-white); }
  .card--label {
    font-weight: normal;
    font-size: 1.8rem;
    letter-spacing: .5px; }
  .card__stats {
    color: var(--card-stats-items); }
    .card__stats ul {
      list-style-type: none;
      margin-left: -4rem; }
  .card__astros ul {
    list-style-type: none;
    margin-left: -4rem; }
  .card__about {
    visibility: hidden;
    position: absolute;
    margin-left: 51%;
    z-index: 10;
    width: 42rem;
    margin-top: -2rem;
    transition: all .3s;
    opacity: 0;
    transform: translateY(-1rem); }
    .card__about--paragraph {
      font-family: 'Merriweather', serif;
      color: var(--card-text);
      font-size: 1.4rem;
      line-height: 2.5rem;
      margin-top: 4rem; }

.u-mt {
  margin-top: 3rem; }

.u-underline {
  text-decoration: solid underline;
  cursor: help; }

.info-text {
  color: var(--card-text) !important; }

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); }

#convertKmToMi {
  cursor: pointer; }
