.u-mt {
    margin-top: 3rem;
}

.u-underline {
    text-decoration: solid underline;
    cursor: help;
}

.info-text {
    color: var(--card-text) !important;
    margin-left: 1rem;
}

.hidden {
    display: none;
}

.visible {
    display: block;
    animation-duration: 1s;
    animation-name: slidein;
    transition-timing-function: cubic-bezier(.17,.67,.83,.67);
}

#convertKmToMi {
    cursor: pointer;
}



@keyframes slidein {
    from {
        transform: translateY(-1rem);
    }

    to {
        transform: translateY(0);

    }
}